body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
    color: #fff;
}

.container {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: #000;
}

.container header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volumeSlider input {
    accent-color: #fff;
}

.keysCheck input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keysCheck input::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background-color: #8c8c8c;
    top: 50%;
    left: 0.3rem;
    transition: all 0.3s ease;
    transform: translateY(-50%);
}

.keysCheck input:checked::before {
    left: 2.1rem;
    background-color: #fff;
}

.pianoKeys {
    display: flex;
    margin-top: 40px;
    background-color: #000;
}

.pianoKeys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.pianoKeys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.pianoKeys .black {
    width: 44px;
    height: 140px;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid #000;
    background: linear-gradient(#333, #000);
}

.pianoKeys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.pianoKeys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.pianoKeys .black.active {
    box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}

.pianoKeys .key.hide span {
    display: none;
}